<head>
    <title>Campaign Form</title>
    <link rel="stylesheet" href="../../static/campaigns.css">
</head>

{% extends 'base.html' %}
{% block title %}GreenWave Leaderboard{% endblock %}

{% block content %}
<div class="heading-div">
    <h1 id="heading">Create a Campaign</h1>
</div>

<div class="form">
    <form method="POST" class="container" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="fields">
                <div class="block">
                    <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.start_date.label_tag }}
                        {{ form.start_date }}
                    </div>
                    <div class="form-group">
                        {{ form.end_date.label_tag }}
                        {{ form.end_date }}
                    </div>
                    <div class="form-group">
                        {{ form.points.label_tag }}
                        {{ form.points }}
                    </div>
                    <div class="form-group">
                        {{ form.validation.label_tag }}
                        {{ form.validation }}
                    </div>
                    <div class="form-group">
                        {{ form.places.label_tag }}
                        <div class="place-options">
                            {{ form.places }}
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="form-group description">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                </div>
            </div>
            <div class="submit-form">
                <button type="submit" class="button-color">SAVE</button>
            </div>
    </form>
</div>

{% endblock %}
