<style>
  .image-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
  }
</style>

<head>
    <link rel="stylesheet" href="../../static/service_styles.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script> <!--email service (EmailJS)-->
    <script type="text/javascript">
        (function(){
           emailjs.init({
             publicKey: "kc8ypmJaKTu9iXe1j",
           });
        })();
     </script>
</head>

<div>
    {% extends 'base.html' %}
    {% block title %}{{ reward.name }}{% endblock %}
    {% block content %}
    <div class="service-detail-container">
        <div class="text-section">
            <h1>{{ exchange.name }}</h1>
            <p>{{ exchange.desc }}</p>
            <p>Available Locations:
                {% for place in exchange.places.all %}
                    {{ place.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Available Until: {{ exchange.end_date }}</p>
            <h2>Reward Points</h2>
            <p>{{ exchange.cost }}</p>
            <!-- <a href="{% url 'rewards' %}" class="btn btn-primary-color">Click to Exchange for reward!</a> -->
            <div>
                {% if valid_transaction %}
                 <form method="POST" class="form" id="reward_redeem_template">
                     {% csrf_token %}
                     <div class="submit">
                         <button type="submit" class="btn btn-primary-color">Click to Exchange for reward!</button>
                     </div>
                 </form>
                 {% else %}
                    {% if not group_name == 'Supervisor' %}
                        <p> You don't have enough points for this reward </p>
                    {% endif %}
                    <a href="{% url 'rewards' %}" class="btn btn-primary-color">Return to rewards page</a>
                  {% endif %}
            </div>
        </div>
        <div class="image-section">
            {% if exchange.image %}
                <img src="{{ exchange.image.url }}" alt="{{ exchange.name }}">
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('reward_redeem_template').addEventListener('submit', function(event) {
            //email details
            var exchangeDetails = {
                reward_name: "{{ exchange.name }}",
                user_name: "{{ username }}",
                email: "{{ email }}",         //are username and email available?
                reward_cost: "{{ exchange.cost }}",
                reward_location: "{% for place in exchange.places.all %}{{ place.name }}{% if not forloop.last %}, {% endif %}{% endfor %}",
                redemption_date: new Date().toLocaleString()  //time
            };
    
            //send email part
            emailjs.send("reward_redeem", "redeem_template_id", exchangeDetails).then(
                (response) => {
                    console.log('SUCCESS!', response.status, response.text);
                },
                (error) => {
                    console.log('FAILED...', error);
                },
            );
        });
    </script>
    {% endblock %}
</div>
