<head>
    <link rel="stylesheet" href="../../static/service_styles.css">
</head>

<div>
	{% extends 'base.html' %}
	{% block title %} Exchange {% endblock %}
	{% block content %}

    <!-- Using the same setup as services so usability is easy across website-->
	<div class="service-container">
        <p> Your total points: {{ points }}</p>
		<ul class="services-list">
			{% for reward in rewards %}
			<li class="service-item">
            <a href="{% url 'exchange_detail' reward.id %}" class="service-box"> <!-- currently linking back to the services, not the reward-->
					<div class="service-box">
						<div class="service-image">
							{% if reward.image %}
								<img src="{{ reward.image.url }}" alt="{{ reward.name }}">
							{% else %}
								<p>No image available</p>
							{% endif %}
						</div>
						<div class="service-content">
							<p class="service-name">{{ reward.name }}</p>
							<p class="short-description">{{ reward.desc }}</p>
              				<p class="short-description">Price: {{ reward.cost }}</p>
							<p class="short-description">Available Locations: 
							{% for place in reward.places.all %}
                                {{ place.name }}{% if not forloop.last %}, {% endif %}
                        	{% endfor %}</p>
							<p class="short-description">Available Until: {{ reward.end_date }}</p>
						</div>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	{% endblock %}
	</div>
</div>
