<head>
     <link rel="stylesheet" href="../../static/home.css">
</head>

{% extends 'base.html'%}

<div>
    {% block title %}GreenWave Home{% endblock %}
    {% block navbar %}{% endblock %}
    {%block content%}
    {% if user.is_authenticated %}
        {% include 'navbar.html' %}
        <h2 style="text-align: center;">Home</h2>
        <p class="capitalize">Welcome, {{ user.username }}!</p>
        <p style="line-height: 0.5;">You are a {{ group_name }}!</p>
        <div class="container"> <!--Big box around both-->
            <!--Leaderboard-->
            <div class="rectangle-container">
                <h2>Leaderboard</h2>
                {% if leaderboard %}
                    <ol>
                        {% for entry in leaderboard %}
                            <li>{{ entry.username }}: {{ entry.points }} points</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No leaderboard entries available.</p>
                    <p>Still developing but it will be here.</p>
                {% endif %}
            </div>

            <!--Campaigns-->
            <div class="rectangle-container">
                  <h2>Current Campaigns</h2>
                {% if campaigns %}
                    <ul>
                        {% for campaign in campaigns %}
                            <li>
                                <h3>{{ campaign.name }}</h3><br>
                                Start Date: {{ campaign.start_date }}<br>
                                End Date: {{ campaign.end_date }}<br>
                                Points: {{ campaign.points }}<br>
                                Description: {{ campaign.description }}<br>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No current campaigns available.</p>
                {% endif %}
            </div>
        </div>

    {% else %}
    {% block login %}
                    {% include 'login.html' %}
                {% endblock %}
    {% endif %}
    {%endblock%}
</div>
