<head>
    <link rel="stylesheet" href="../../static/input.css">
</head>

{% extends 'base.html'%}

<div>
   {% block title %}GreenWave Home{% endblock %}
   {% block navbar %}{% endblock %}
   {%block content%}
   {% if user.is_authenticated %}
       {% include 'navbar.html' %}
       <h1 style="text-align: center;">Claim Your Points</h1>
       <div class="points-display">
            <p><span style="text-transform:capitalize;" >{{ user.username }}, </span>you currently have <span class="points-value">{{ points }} points.</span></p>
       </div>

       <div>
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="choice">Which campaign did you complete?</label>
                    {{ form.select }}
                </div>
                <div class="submit">
                    <button type="submit" class="button-color">Claim Points</button>
                </div>
            </form>
       </div>
   {% else %}
   {% block login %}
                   {% include 'login.html' %}
               {% endblock %}
   {% endif %}
   {%endblock%}
</div>
