<head>
    <link rel="stylesheet" href="../../static/home.css">
    
</head>
<body>
    <div class="text-center">
        <div class="rectangle-container">
            <div class="color-block">
                <h2> Welcome to GreenWave</h2>
                <p> GreenWave is your on-campus sustainability services tracker. Please log in to existing account or create an account down below through your school email.</p>
                <a href="/accounts/google/login/?process=login" class="btn btn-primary-color">Log In/Create Account</a>
            </div>
        </div>
        </div>
</body>