<head>
    <title>Green Rewards</title>
    <link rel="stylesheet" href="../../static/service_styles.css">
</head>

<div>
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}

    <div class="rewards-container">
        <h1 class="rewards-header">MY REWARDS</h1>
    
        <!--Progress bar-->
        <div class="progress-bar-container">
            <p class="points-text">You have <strong>X Points!</strong></p>
            <p>Progress bar goes here</p>
            <p>Valid until 12/19/2024</p>
        </div>
    
        <!--History-->
        <div class="transaction-history">
            <h3>TRANSACTION HISTORY</h3>
    
            <p>Not done yet</p>
        </div>
    </div>
</div>
{% endblock %}
