<head>
    <link rel="stylesheet" href="../../static/service_styles.css">
</head>

<div>
	{% extends 'base.html' %}

	{% block title %}GreenWave Services{% endblock %}

	{% block content %}

	<!--This code below SHOULD work for looping through, just need to create more services-->
	<div class="service-container">
		<ul class="services-list">
			{% for service in services %}
			<li class="service-item">
				<a href="{% url 'service_detail' service.id %}" class="service-box">  <!-- Would like to get rid of underlines, add shadow when hovered over -->
					<div class="service-box">
						<div class="service-image">
							{% if service.image %}
								<img src="{{ service.image.url }}" alt="{{ service.name }}">
							{% else %}
								<p>No image available</p>
							{% endif %}
						</div>
						<div class="service-content">
							<p class="service-name">{{ service.name }}</p>
							<p class="short-description">{{ service.desc }}</p>
						</div>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	{% endblock %}
	</div>
</div>