
<head>
    <link rel="stylesheet" href="../../static/service_styles.css">
</head>

<div>
    {% extends 'base.html' %}
    {% block title %}{{ service.name }}{% endblock %}
    {% block content %}
    <div class="service-detail-container">
        <div class="text-section">
            <h1>{{ service.name }}</h1>
            <p>{{ service.desc }}</p>
            <h2>Reward Points</h2>
            <p>{{ service.points_per_use }}</p>
            <h2>How to Use</h2>
            <p>{{ service.how_to_use }}</p>
            <a href={{service.link}}> More Info Here!</a>
            <h2>Why to Use</h2>
            <p>{{ service.why_to_use }}</p>

            <a href="{% url 'input' %}" class="btn btn-primary-color">Click to Input Usages!</a>

            
        </div>
        <div class="image-section">
            {% if service.image %}
                <img src="{{ service.image.url }}" alt="{{ service.name }}">
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</div>