.heading-div {
    margin: 0 auto;
    text-align: center;
}

.form {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    background-color: #f4d6a5;
}

.block {
    width: 500px;
}

.form-group{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
}

.place-options {
    font-weight: normal;
    margin-bottom: -20px;
}

.submit-form {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.button-color {
    background-color: #89bea5;
    font-weight: bold;
    width: 50%;
    height: 50px;
}