body .text-center{
    background-color: #fcf4e2;
    font-family: Arial, sans-serif;
}

.btn-primary-color {
    background-color: #efcdd2;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
}
.rectangle-container {
    /* flex:1; */
    padding: 20px;
    background-color: #f4d6a5;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    text-align: center;
}

.rectangle-container h2 {
    margin-bottom: 15px;
}

.rectangle-container ul {
    list-style-type: none;
    padding-left: 0;
}
.rectangle-container ol {
    list-style-type: none;
    padding-left: 0;
}
.rectangle-container li {
    margin-bottom: 10px;
}
