.points-display {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 18px;
}

.points-value {
    font-weight: bold;
}

.campaign {
    height: 40px;
}

.form {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    background-color: #f4d6a5;
}

.form-group{
    margin: 0 auto;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.submit {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.button-color {
    background-color: #89bea5;
    font-weight: bold;
    width: 50%;
    height: 50px;
}